@model panictheorem.Models.BlogPagingModel
<section id="paging-area">
    @if (Model.CurrentPage > 1)
    {
        if (Model.PageSubsection != null)
        {
            @Html.ActionLink("<<", Model.PageSection, "Blog", new { urlSegment = Model.PageSubsection, pageNumber = Convert.ToString(Model.CurrentPage - 1) }, new { })
        }
        else
        {
            @Html.ActionLink("<<", Model.PageSection, "Blog", new { pageNumber = Convert.ToString(Model.CurrentPage - 1) }, new { })
        }
    }
    @for (int i = 1; i < Model.TotalNumberOfPages; i++)
    {
        if (Model.PageSubsection != null)
        {
            @Html.ActionLink(Convert.ToString(i), Model.PageSection, "Blog", new { urlSegment = Model.PageSubsection, pageNumber = Convert.ToString(i) }, new { })
        }
        else
        {
            @Html.ActionLink(Convert.ToString(i), Model.PageSection, "Blog", new { pageNumber = Convert.ToString(i) }, new { })
        }
    }
    @if (Model.CurrentPage < Model.TotalNumberOfPages)
    {
        if (Model.PageSubsection != null)
        {
            @Html.ActionLink(">>", Model.PageSection, "Blog", new { urlSegment = Model.PageSubsection, pageNumber = Convert.ToString(Model.CurrentPage + 1) }, new { })
        }
        else
        {
            @Html.ActionLink(">>", Model.PageSection, "Blog", new { pageNumber = Convert.ToString(Model.CurrentPage + 1) }, new { })
        }
    }
</section>

