@model panictheorem.Domain.Entities.SocialMediaIcon

@{
    ViewBag.Title = "Social Media Icon Details";
}

<h2>Details</h2>

<div>
    <h4>SocialMediaIcon</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SocialMediaIconId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
